<mat-toolbar>
    <img src="../../../assets/img/logo-fix.png" alt="">
    <section class="navbar-tabs">
        <a routerLink="/categories">Categorías</a>
        <a routerLink="/products">Productos</a>
        <!-- <a>L</a>
        <a>a</a> -->
    </section>
    <div class="demo-section">
        <a routerLink="/login">Login</a>
        <a routerLink="/registrarse">Registrarse</a>
        <mat-icon matBadge="{{cart.length}}" matBadgeColor="warn">shopping_bag</mat-icon>
        <!-- Include text description of the icon's meaning for screen-readers -->
        <span class="cdk-visually-hidden">
            Example with a home icon with overlaid badge showing the number 15
        </span>
    </div>
</mat-toolbar>